form.membership-form {
  width:600px;
  background-color:#FFFFFF;
  padding:20px 18px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
}

form.membership-form .description {
  font-size:12px;
}

.membership-form .fieldset-wrapper {
  position:relative;
}

.membership-form #edit-member-name {
  margin:20px 0 0 0;
}

.membership-form #edit-member-name legend,
.membership-form #edit-address legend {
  margin:0 0 10px 0;
  font-family:FuturaStdBold,arial,Helvetica,sans-serif;
  font-size:16px;
}

.membership-form .fieldset-wrapper .form-item {
  float:left;
  margin:0px;
  padding:0px;
}

.membership-form .form-item.form-item-personnummer,
.membership-form .form-item.form-item-phone,
.membership-form .form-item.form-item-co {
  margin:0 20px 0 0;
}

.membership-form .form-item.form-item-first-name,
.membership-form .form-item.form-item-last-name {
  margin:0 20px 10px 0;
}

.membership-form .form-item.form-item-city,
.membership-form .form-item.form-item-postal-code {
  margin:10px 20px 0 0;
}

.membership-form #edit-first-name,
.form-item-first-name .description, 
.membership-form #edit-last-name,
.form-item-last-name .description {
  width:260px;
}

.membership-form #edit-personnummer,
.form-item-personnummer .description {
  width:220px;
}

.membership-form #edit-email,
.form-item-email .description {
  width:300px;
}

.membership-form #edit-phone,
.form-item-phone .description,
.membership-form #edit-mobile,
.form-item-mobile .description {
  width:200px;
}

.membership-form #edit-postal-code,
.form-item-postal-code .description {
  width:200px;
}

.membership-form #edit-street {
  width:240px;
}

.membership-form #edit-address {
  margin:0 0 20px 0;
}

.membership-form .form-item.form-item-type {
  margin:20px 0;
}

.membership-form .form-item.form-item-type label {
  margin:0 0 6px 0;
}
