
/** STICKY FOOTER CSS **/
html, body {height: 100%;}
#page {min-height: 100%;}

.page-inner {overflow:auto;
	padding-bottom: 140px;}  /* must be same height as the footer */

.closure  {position: relative;
	margin-top: -140px; /* negative value of footer height */
	height: 100px;
  padding:20px 0;
	clear:both;}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

/** DEFAULT LAYOUT **/
.container-12,
.closure .footer .footer-inner{
  max-width: 960px;
  margin: 0 auto;
}
.header .container-12 .grid-12,
.main .container-12 .grid-12{
  /*margin: 10px 1.5625%;*/
}
.container-12 .grid-12,
.closure .footer .footer-inner {
  /*width:96.875%;*/
}

/** BRANDING **/
.branding{
  position: relative;
}

/** HEADER**/
.header {

 /* background: #fff url(../images/sa_bg.png) repeat 50% 0;*/
}
.header .navigation{
  
}

/** FOOTER **/
.closure{
  background: transparent url(../images/stripe-bg.png) repeat 0 0;
}
.closure .footer{
  width:auto;
  
}

/** MAIN **/
.main{
  padding:10px 0;
}
.quicktabs-wrapper .main{
  padding:0;
}