
/** STICKY FOOTER CSS **/
html, body {height: 100%;}

#page {min-height: 100%;}

.main {overflow:auto;
	padding-bottom: 290px;}  /* must be same height as the footer */

.closure {position: relative;
	margin-top: -290px; /* negative value of footer height */
	height: 200px;
	clear:both;}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

/** DEFAULT LAYOUT **/
.container-12,
.closure .footer .footer-inner{
  max-width: 960px;
  margin: 0 auto;
}
.header .container-12 .grid-12,
.main .container-12 .grid-12{
  margin: 10px 1.5625%;
}
.container-12 .grid-12,
.closure .footer .footer-inner {
  width:96.875%;
}
.main{
  margin-top:-75px;
}


/** HEADER**/
.header {
  padding: 0px 0px 105px 0;
  background: #CB64A4 url(../images/sa_bg.png) repeat 50% 0;
  border-bottom:4px solid rgba(102,102,102,0.5);
}
.header .navigation{
  outline:4px solid rgba(102,102,102,0.5);
  background: #FFF;
}

/** FOOTER **/
.closure{
  padding: 35px 0 55px 0;
  background: #CB64A4 url(../images/sa_bg.png) repeat 50% 0;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.3) inset;
}
.closure .footer{
  width:auto;
 
}
.footer-wrapper{
  background: #333;
  height:192px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

/** MAIN **/
.main .container-12{
   border-top:4px solid rgba(102,102,102,0.5);
}
.main .container-12 .container-inner{
  background: #fff;
  position:relative;
  min-height:71px;
}
.main .container-12 .container-inner #border-left,
.main .container-12 .container-inner #border-right{
  display:block;
  width:4px;
  height:71px;
  background:rgba(102,102,102,0.5);
  position:absolute;
  top:-4px;
}
.main .container-12 .container-inner #border-left{
  left:-4px;
}
.main .container-12 .container-inner #border-right
{
  right:-4px;
}