body{
  background:#e9e1da url("../images/sa-bg.jpg") repeat scroll 0 0;
}
.header .grid-12{
  background: transparent url("../images/2line-border.png") repeat-x scroll 0 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#logo{
  
}


/**
 * Social Animal Music player
 **/
#music-player{
  position: relative;
  z-index: 100;
  width:100%;
}
#music-player .pane-content{
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: rgba(53,48,48,0.7);
  width:40%;
  padding:10px 10px 0 10px;
 /* -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 10px 0px 0px 0px;
  border-radius: 10px 0px 0px 0px;

-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2); */

}
#music-player .player-hide-show{
  cursor: pointer;
  display: block;
  color:#e5dee1;
  position: absolute;
  top:-18px;
  left:0px;
  padding: 0 10px;
  background: rgba(53,48,48,0.7);
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px; 
}
#music-player .views-field-title{
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: bold;
}
.views-field-field-music-image img{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 0;
}
.views-field-field-music-image{
 float:left;
 margin-right:10px;
 margin-bottom: 10px;
 line-height: 0;
 width:27%;
}
.playlist-hidden{
  position: absolute;
  left: -999em;
}

/**
 * Image slideshow
 **/
.views-slideshow-controls-bottom{
  position: absolute;
  top:50%;
  z-index: 100;
  color:#fff;
}
.view-image-slide,
.pane-image-slide-image-slideshow{
  line-height: 0;
  overflow: hidden;
}
.views-slideshow-controls-bottom,
.views-slideshow-controls-bottom #views_slideshow_controls_text_pause_image_slide-image_slideshow{
  display: none;  
}

.view-image-slide:hover .views-slideshow-controls-bottom{
  display: block;
  width:100%;
  
}
.views-slideshow-controls-bottom #views_slideshow_controls_text_next_image_slide-image_slideshow{
position: absolute;
right:0;
top:0;
z-index: 100;
cursor: pointer;
}
.views-slideshow-controls-bottom #views_slideshow_controls_text_previous_image_slide-image_slideshow{
position: absolute;
left:0;
top:0;
z-index: 100;
cursor: pointer;
}

/* Try to make images responsive*/
.views-slideshow-cycle-main-frame-row{
  width:100% !important;
}
.views-slideshow-cycle-main-frame-row img{
  width:100% !important;
}
.views-field-field-music-image img{
  width:100%;
}
/**
 * Social links
 **/
.social-links{
  background: transparent url("../images/stripe-bg.png") repeat scroll 0 0;
  height: 40px;
}


/**
* hide contextual-links-wrapper
**/
.contextual-links-wrapper,
.not-logged-in .quicktabs-tabs {
  display: none;
}

/*quicktabs*/
ul.quicktabs-tabs{
 text-align: right;
}
ul.quicktabs-tabs li{
  padding:0;
  display: inline-block;
  margin: 0;
}

ul.quicktabs-tabs li a{
  background: rgba(53,48,48,0.1);
  padding:5px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
ul.quicktabs-tabs li.active a{
  background: rgba(53,48,48,1);
  color:#F9F9F9;
}