body{
  background:#e9e1da url("../images/sa-bg.jpg") repeat scroll 0 0;
}
.header .grid-12{
  background: transparent url("../images/2line-border.png") repeat-x scroll 0 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#logo{
  
}


/**
 * Social Animal Music player
 **/
#music-player{
  position: relative;
  z-index: 100;
  width:100%;
}
#music-player .pane-content{
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: rgba(53,48,48,0.7);
  width:40%;
  padding:10px 10px 0 10px;
 /* -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 10px 0px 0px 0px;
  border-radius: 10px 0px 0px 0px;

-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2); */

}
#music-player .player-hide-show{
  cursor: pointer;
  display: block;
  color:#e5dee1;
  position: absolute;
  top:-18px;
  left:0px;
  padding: 0 10px;
  background: rgba(53,48,48,0.7);
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px; 
}
#music-player .views-field-title{
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: bold;
}
.views-field-field-music-image img{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.views-field-field-music-image{
 float:left;
 margin-right:10px;
}

/**
 * Image slideshow
 **/
.views-slideshow-controls-bottom{
  position: absolute;
  top:50%;
  z-index: 100;
  color:#fff;
}
.view-image-slide{
  line-height: 0;
}

/**
 * Social links
 **/
.social-links{
  background: transparent url("../images/stripe-bg.png") repeat scroll 0 0;
  height: 40px;
}


