
/**
 * Container
 */
.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8,
.container-9,
.container-10,
.container-11,
.container-12,
.container-13,
.container-14,
.container-15,
.container-16 {
  margin-left: auto;
  margin-right: auto;
}

.container-1 {
  width: 60px;
}

.container-2 {
  width: 120px;
}

.container-3 {
  width: 160px;
}

.container-4 {
  width: 240px;
}

.container-5 {
  width: 300px;
}

.container-6 {
  width: 360px;
}

.container-7 {
  width: 420px;
}

.container-8 {
  width: 460px;
}

.container-9 {
  width: 540px;
}

.container-10 {
  width: 600px;
}

.container-11 {
  width: 660px;
}

.container-12 {
  width: 720px;
}

.container-13 {
  width: 780px;
}

.container-14 {
  width: 840px;
}

.container-15 {
  width: 900px;
}

.container-16 {
  width: 960px;
}

/**
 * Grid
 */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-1 {
  width: 40px;
}

.grid-2 {
  width: 100px;
}

.grid-3 {
  width: 160px;
}

.grid-4 {
  width: 220px;
}

.grid-5 {
  width: 280px;
}

.grid-6 {
  width: 340px;
}

.grid-7 {
  width: 400px;
}

.grid-8 {
  width: 460px;
}

.grid-9 {
  width: 520px;
}

.grid-10 {
  width: 580px;
}

.grid-11 {
  width: 640px;
}

.grid-12 {
  width: 700px;
}

.grid-13 {
  width: 760px;
}

.grid-14 {
  width: 820px;
}

.grid-15 {
  width: 880px;
}

.grid-16 {
  width: 940px;
}

/**
 * Children
 */
.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/**
 * Prefix
 */
.prefix-1 {
  padding-left: 40px;
}

.prefix-2 {
  padding-left: 100px;
}

.prefix-3 {
  padding-left: 160px;
}

.prefix-4 {
  padding-left: 220px;
}

.prefix-5 {
  padding-left: 280px;
}

.prefix-6 {
  padding-left: 340px;
}

.prefix-7 {
  padding-left: 400px;
}

.prefix-8 {
  padding-left: 460px;
}

.prefix-9 {
  padding-left: 520px;
}

.prefix-10 {
  padding-left: 580px;
}

.prefix-11 {
  padding-left: 640px;
}

.prefix-12 {
  padding-left: 700px;
}

.prefix-13 {
  padding-left: 760px;
}

.prefix-14 {
  padding-left: 820px;
}

.prefix-15 {
  padding-left: 880px;
}

.prefix-16 {
  padding-left: 940px;
}

/**
 * Suffix
 */
.suffix-1 {
  padding-right: 40px;
}

.suffix-2 {
  padding-right: 100px;
}

.suffix-3 {
  padding-right: 160px;
}

.suffix-4 {
  padding-right: 220px;
}

.suffix-5 {
  padding-right: 280px;
}

.suffix-6 {
  padding-right: 340px;
}

.suffix-7 {
  padding-right: 400px;
}

.suffix-8 {
  padding-right: 460px;
}

.suffix-9 {
  padding-right: 520px;
}

.suffix-10 {
  padding-right: 580px;
}

.suffix-11 {
  padding-right: 640px;
}

.suffix-12 {
  padding-right: 700px;
}

.suffix-13 {
  padding-right: 760px;
}

.suffix-14 {
  padding-right: 820px;
}

.suffix-15 {
  padding-right: 880px;
}

.suffix-16 {
  padding-right: 940px;
}

/**
 * Push
 */
.push-1 {
  left: 40px;
}

.push-2 {
  left: 100px;
}

.push-3 {
  left: 160px;
}

.push-4 {
  left: 220px;
}

.push-5 {
  left: 280px;
}

.push-6 {
  left: 340px;
}

.push-7 {
  left: 400px;
}

.push-8 {
  left: 460px;
}

.push-9 {
  left: 520px;
}

.push-10 {
  left: 580px;
}

.push-11 {
  left: 640px;
}

.push-12 {
  left: 700px;
}

.push-13 {
  left: 760px;
}

.push-14 {
  left: 820px;
}

.push-15 {
  left: 880px;
}

.push-16 {
  left: 940px;
}

/**
 * Pull
 */
.pull-1 {
  left: -40px;
}

.pull-2 {
  left: -100px;
}

.pull-3 {
  left: -160px;
}

.pull-4 {
  left: -220px;
}

.pull-5 {
  left: -280px;
}

.pull-6 {
  left: -340px;
}

.pull-7 {
  left: -400px;
}

.pull-8 {
  left: -460px;
}

.pull-9 {
  left: -520px;
}

.pull-10 {
  left: -580px;
}

.pull-11 {
  left: -640px;
}

.pull-12 {
  left: -700px;
}

.pull-13 {
  left: -740px;
}

.pull-14 {
  left: -820px;
}

.pull-15 {
  left: -880px;
}

.pull-16 {
  left: -940px;
}

/**
 * Pad
 */
.pad-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.pad-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.pad-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.pad-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.pad-5 {
  padding-left: 50px;
  padding-right: 50px;
}

.pad-6 {
  padding-left: 60px;
  padding-right: 60px;
}

.pad-7 {
  padding-left: 70px;
  padding-right: 70px;
}

.pad-8 {
  padding-left: 80px;
  padding-right: 80px;
}

.pad-9 {
  padding-left: 90px;
  padding-right: 90px;
}

.pad-10 {
  padding-left: 100px;
  padding-right: 100px;
}
.pad-left-0{
  padding-left:0;
}
.pad-right-0{
  padding-right:0;
}
