; Configuration for xdebug
; Priority=20
zend_extension=xdebug.so
xdebug.remote_enable=1
xdebug.remote_handler=dbgp
xdebug.remote_mode=req
xdebug.remote_host=192.168.50.1
xdebug.remote_port=9000
xdebug.profiler_enable_trigger=1
xdebug.max_nesting_level = 1000
